Defaults:neutron !requiretty
Defaults:neutron secure_path="{{ neutron_real_bin_dir }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

neutron ALL = (root) NOPASSWD: {{ neutron_real_bin_dir }}/neutron-rootwrap {{ neutron_conf_dir }}/rootwrap.conf *
neutron ALL = (root) NOPASSWD: {{ neutron_real_bin_dir }}/neutron-rootwrap-daemon {{ neutron_conf_dir }}/rootwrap.conf
