{#
#
# (c) Copyright 2019 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
{
    "shared_firewalls": "field:firewalls:shared=True",
    "shared_firewall_policies": "field:firewall_policies:shared=True",
    "shared_firewall_rules": "field:firewall_rules:shared=True",

    "create_firewall": "",
    "update_firewall": "rule:admin_or_owner",
    "delete_firewall": "rule:admin_or_owner",

    "create_firewall:shared": "rule:admin_only",
    "update_firewall:shared": "rule:admin_only",
    "delete_firewall:shared": "rule:admin_only",

    "get_firewall": "rule:admin_or_owner or rule:shared_firewalls",

    "shared_firewall_groups": "field:firewall_groups:shared=True",
    "shared_firewall_policies": "field:firewall_policies:shared=True",
    "shared_firewall_rules": "field:firewall_rules:shared=True",

    "create_firewall_group": "",
    "update_firewall_group": "rule:admin_or_owner",
    "delete_firewall_group": "rule:admin_or_owner",

    "create_firewall_group:shared": "rule:admin_only",
    "update_firewall_group:shared": "rule:admin_only",
    "delete_firewall_group:shared": "rule:admin_only",

    "get_firewall_group": "rule:admin_or_owner or rule:shared_firewall_groups",

    "create_firewall_policy": "",
    "update_firewall_policy": "rule:admin_or_owner",
    "delete_firewall_policy": "rule:admin_or_owner",

    "create_firewall_policy:shared": "rule:admin_only",
    "update_firewall_policy:shared": "rule:admin_only",
    "delete_firewall_policy:shared": "rule:admin_only",

    "get_firewall_policy": "rule:admin_or_owner or rule:shared_firewall_policies",

    "insert_rule": "rule:admin_or_owner",
    "remove_rule": "rule:admin_or_owner",

    "create_firewall_rule": "",
    "update_firewall_rule": "rule:admin_or_owner",
    "delete_firewall_rule": "rule:admin_or_owner",

    "create_firewall_rule:shared": "rule:admin_only",
    "update_firewall_rule:shared": "rule:admin_only",
    "delete_firewall_rule:shared": "rule:admin_only",

    "get_firewall_rule": "rule:admin_or_owner or rule:shared_firewall_rules"
}
